.donutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.donutTitle {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 40px;
}

.donutWrapper {
  width: 360px;
  height: 360px;
}
