.onBoardingBg {
  background-image: url("../../assets/jpg/onboardingBg.jpg");
  min-height: 70vh;
  background-size: cover;
  position: relative;
}
.onBoardingBgText {
  position: absolute;
  top: 7rem;
  left: 5rem;
  color: #fff;
  font-size: 3rem;
}
