.pageFooterNav {
  display: flex;
  width: 100%;
  height: 80px;
  margin-top: 6rem;
  font-size: 1.1rem;
}

/* LEFT */
.footerLeft {
  flex: 1;
  background: #2e2e2e;
  color: white;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

/* RIGHT */
.footerRight {
  flex: 1;
  background: #ffeb00;
  color: black;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.footerRight strong {
  font-weight: 600;
}

.arrow {
  font-weight: 600;
}

.yellowColor {
  color: #ffeb00;
  font-weight: 600;
  font-size: 18px;
}
.blackColor {
  color: #000;
  font-weight: 600;
  font-size: 18px;
}
.nextLabelColor {
  color: #fff;
}
